@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #171f26;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #f2a341;
  padding: 10px;
  border-bottom: 5px #d98452 solid;
}

.cabecalho img {
  width: 50px;
}

.cabecalho h1 {
  font-size: 25px;
}

.cabecalho-h1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho a {
  text-decoration: none;
  color: black;
}

.cabecalho-ctt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cabecalho-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cabecalho-ctt a {
  background-color: #db943d;
  color: rgb(0, 0, 0);
  padding: 5px;
  border: 2px black solid;
  border-radius: 4px;
  font-size: 20px;
}

.cabecalho-menu a {
  font-size: 20px;
  font-weight: bold;
}

.cabecalho-ctt a:hover {
  transition-delay: 0.1s;
  background-color: #81613a;
}

.cabecalho-menu a:hover {
  transition-delay: 0.1s;
  border-bottom: #d98452 2px solid;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ctt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  background-color: #db943d;
  border: black solid 4px;
  border-radius: 6px;
  padding: 5px;
}

.ctt-email input {
  width: 80%;
  border-radius: 6px;

}

.ctt-nome input {
  width: 80%;
  border-radius: 6px;
}

.ctt-fone label {
  margin-left: 110px;
}

.ctt-fone input {
  width: 44%;
  border-radius: 6px;
  margin-left: 110px;
}

.ctt-box select {
  width: 80%;
  border-radius: 6px;
}

.ctt-descricao {
  width: 80%;
  border-radius: 6px;
}

.ctt-botao button {
  padding: 5px;
  background-color: #f8af56;
  border: black 2px solid;
  border-radius: 4px;
}

.ctt-botao button:hover {
  transition-delay: 0.1s;
  background-color: #7c5b33;
}
  

