* {
    padding: 0;
    margin: 0;
    border: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #F2A341;
    padding: 10px;
    border-bottom: 5px #D98452 solid;
}

.cabecalho img {
    width: 50px;
}

.cabecalho h1 {
    font-size: 25px;
}

.cabecalho-h1 {
    display: flex;
    gap: 10px;
    align-items: center;
}